-
  var myName = "Razvan"
  var job = "update this later"
  var socialList = [
    {icon : "facebook-with-circle", url: "https://facebook.com"},
    {icon : "twitter-with-circle", url: "https://twitter.com"},
    {icon : "google-with-circle", url: "https://googleplus.com"},
    {icon : "skype-with-circle", url: "https://skype.com"},
    {icon : "github-with-circle", url: "https://github.com"},
    {icon : "linkedin-with-circle", url: "https://linkedin.com"}
  ]
#landing-page
.landing-page
  .landing-page__wrapper
    h2.landing-page__name=myName
    h1.landing-page__title=job
    ul.landing-page__social
      each social,key in socialList
        li.landing-page__item
          label.landing-page__label(for=`message-box-id-${key}`)
            span(class=`cv-font__icon--${social.icon}`)
    .landing-page__box-body
      input.landing-page__box-radio(type="radio", "name"="social", id="default-message-radio" checked)
      .landing-page__box-message Click the above icons to reveal
      .landing-page__box-header
        .landing-page__box-info Click to visit
        label.landing_page__box-close(for="default-message-radio") &times;
      each social,key in socialList
        input.landing-page__box-radio(type="radio", name="social", id=`message-box-id-${key}`)
        .landing-page__box-message
          a.landing-page__box-link(href=social.url, target="_blank")=social.url
