-
  var header = "#about-me"
  var imagePath = "asset/image/bk.jpg"
  var fName = "Razvan"
  var title = "Front-End Developer"
  var slogan = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam est tellus, malesuada pulvinar dapibus ut, interdum non turpis. Suspendisse vitae orci cursus, placerat ipsum sed, ullamcorper eros."

  var coolStuff = {
    title: "grab cool stuff",
    buttonList: [
      {
        url: "https://github.com/razvanlikespizza",
        icon: "github-with-circle",
        label: "You can visit here the GitHub repository for this project."
      },
      {
        url: "/download/cv.word",
        icon: "text-document",
        label: "Download the Word version here."
      }
    ]
  }

#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    .about-me__content
      img.about-me__avatar(src=imagePath)
  .about-me__content
    .about-me__full-name=fName
    .about-me__title=title
    .about-me__slogan=slogan
  .about-me__content
    .about-me__title=coolStuff.title
    .about-me__link-list
      each btn in coolStuff.buttonList
        a.about-me__link(href=btn.url target="_blank")
          span.about-me__link-description=btn.label
          span.about-me__icon(class=`cv-font__icon--${btn.icon}`)
